<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"-->
<head>
    <title>Dailylist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <!--<div>
        <h5>Logged in as: <span sec:authentication="name"></span></h5>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>-->
	<h2>Dailies</h2>
    <table>
		<tr>
            <!--<th>ID</th>-->
            <th>Name</th>
            <th>Description</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>State</th>
            <th>Skippable?</th>
            <th>Penalty?</th>
            <th></th> <!-- Empty rows to match styling up to edit and delete buttons-->
            <th></th>
		</tr>  
        <tr th:each = "daily : ${dailies}">
            <!--<td th:text="${daily.daily_id}"></td> -->
            <td th:text="${daily.name}"></td>
            <td th:text="${daily.description}"></td>   		
            <td th:text="${daily.startTime}"></td>
            <td th:text="${daily.endTime}"></td>
            <td th:text="${daily.state.name}"></td>
            <td th:text="${daily.canBeSkipped}"></td>
            <td th:text="${daily.penaltyForMissing}"></td>
            <!--
            <td><a th:href="@{/edit/{id}(id=${daily.daily_id})}" class="btn btn-warning">Edit</a></td>
            <td sec:authorize="hasAuthority ('ADMIN')"><a th:href="@{/delete/{id}(id=${daily.daily_id})}" class="btn btn-danger">Delete</a></td>
            -->
        </tr>
    </table>    
    <a href="/newdaily">Add daily</a>
</body>
</html>