<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Daily</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h2>Edit Daily</h2>
    <div>
        <form th:object="${daily}" th:action="@{/update}" action="#" method="post">
            
            <input type="hidden" th:field="*{daily_id}" class="form-control" readonly="readonly" />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" /><br>

            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" /><br>

            <label for="startTime">Start time</label>
            <input type="text" id="startTime" th:field="*{startTime}" /><br>

            <label for="endTime">End time</label>
            <input type="text" id="endTime" th:field="*{endTime}" /><br>

            <label for="canBeSkipped">Can be skipped?</label>
            <input type="checkbox" id="canBeSkipped" th:field="*{canBeSkipped}"/><br>

            <label for="penaltyForMissing">Penalty for missing?</label>
            <input type="checkbox" id="penaltyForMissing" th:field="*{penaltyForMissing}"/><br>

            <label for="statelist">State</label>
            <select id="statelist" th:field="*{state.state_id}" class="form-control">
                <option th:each="state: ${states}"
                    th:value="${state.state_id}"
                    th:text="${state.name}">
                </option>
            </select><br>
            
            <input class="btn btn-success" type="submit" value="Save"></input>
        </form>
	</div>  	
</body>
</html>